*swp
momentics-2.1.2-201503050937.linux.x86_64.run
sire.cfg

useme/build
useme/__pycache__
useme/dist

# One place to record that "runme" is the place to test out container images for that project
runme
.vscode

# Don't ever save the private or public keys
id_rsa
id_rsa.pub
