Source: #PACKAGE#
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/#PACKAGE#.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/#PACKAGE#.git;a=summary

Package: #PACKAGE#-dev
Section: libdevel
Architecture: any
Depends: #PACKAGE#BROKEN (= ${binary:Version})
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: #PACKAGE#BROKEN
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
