Source: #PACKAGE#
Section: unknown
Priority: extra
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/#PACKAGE#.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/#PACKAGE#.git;a=summary

Package: #PACKAGE#-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description> <insert long description, indented with spaces>

Package: #PACKAGE#-source
Architecture: all
Depends: module-assistant, debhelper (>= 7), make, bzip2
Description: source for the #PACKAGE# driver.
 This package provides the source code for the #PACKAGE# kernel modules.
 The #PACKAGE# package is also required in order to make use of these
 modules. Kernel source or headers are required to compile these modules.
